.top-bar{
    height: 40px;
    background-color: black;
    color: rgb(255, 255, 255) !important;
    padding:10px 0!important;
    font-size: 14px;
    width: 100%;
  }
  
  .page-container{
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .max-width {
    width: 100%;
    max-width: 1200px !important;
  }
  /* rgba(255, 251, 237,1); */
  .nav-header{
    background-color: rgba(255, 255, 255);
    color: black;
    padding:10px 0px !important;
    border-bottom: 1px solid rgb(218, 218, 218);
  }
  .name{
      width: 130px;
  }
  .logo{
    width: 60px;
    height: 50px;
  }


.nav-btn{
    padding: 5px;
    text-decoration: none;
    color: black;
  }